<%- include('includes/head.ejs') %> 
    <h1>Usuários</h1>
    <% if (users.length > 0) { %> 
      <ul>
        <% users.forEach((user) => { %>
          <li><%= user.name %> </li>
        <% }) %>  
      </ul>
    <% } else { %>
      <h2>Não há usuários cadastrados</h2>
    <% } %> 
<%- include('includes/bottom.ejs') %>
